html,
body{
   height: 100%;
   font-family: 'Montserrat', sans-serif;
}
.main-page{
    background: linear-gradient(90.27deg, #D9D9D9 0.23%, #FCFEFF 0.24%, #A5DEFF 99.78%); 
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
header{
    margin-top: 54px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.logo-text{
    margin-left: 18px;
}
.banderogus-container{
    background: #ffffff;
    padding: 60px 56px;
    align-self: center;
}
.banderogus-greeting{
    color: #171922;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.banderogus-starttext{
    color: #FF6B0A;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}
.banderogus-title{
    color: #171922;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
}
.banderogus-descr{
    color: #171922;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.banderogus-launch{
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}
.main-page-row{
    display: flex;
    justify-content: space-between;
    height: 100%;   
}
.banderogus-image{
    align-self: flex-end;
}
.gus-title{
    color: #171922;
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.gus-descr{
    color: #171922;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 865px;
}
.gus-facts{
    padding-top: 52px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gus-facts-row{
    display: flex;
    width: 1170px;
    justify-content: space-between;
}
.gus-fact-title{
    color: #171922;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin: 12px 0 32px 0;
}
.gus-fact-descr{
    color: #171922;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 280px;
}
.gus-fact-item{
    width: 33%;
}
.victory-bgd{
    width: 1170px;
    background: linear-gradient(90.27deg, #FFFFFF 0.23%, #FCFEFF 0.24%, #DDF3FF 99.78%);
    padding: 72px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.victory-footer{
    display: flex;
    justify-content: center;
}
.victory-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #171922;
    margin: 16px 0;
}
.victory-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #171922;
    width: 865px;
    text-align: center;
}
.modal-bgd{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 /70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.modal-form-container{
    background: white;
    padding: 32px 92px 60px 92px;
    position: relative;
}
.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-form-title{
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin: 32px 0 12px 0;
}
.modal-form-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
}
.modal-form-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.modal-field-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #171922;
    margin-bottom: 8px;
}
.modal-form-input{
    border: 1px solid #005BBB;
    border-radius: 8px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 4px 8px;
}
 .modal-form-btn{   
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 24px;
 }
 .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 14px;
    color: #171922;
    cursor: pointer;
    background: none;
    border: 0;
 }
 .modal-form-slava-ukr{
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
 }
 .modal-form-run{
    width: 444px;
 }
 .modal-active{
    opacity: 1;
    pointer-events: all;
 }